@import url('https://fonts.googleapis.com/css2?family=Almendra+Display&family=Amarante&family=Bellefair&display=swap');

html {
    scroll-behavior: smooth;
}

html, body {
    background-color: #EDEBEE;
}
#content {
    position: relative;
    width: 80%;
    margin: auto;
}
article {
    margin: 4em 0;
    padding: 1em 0;
}
h1, .indicator-tooltip {
    margin-top: 0;
    /*   font-family: helvetica, sans-serif; */
    /*   font-weight: 100; */
    -webkit-font-smoothing: antialiased;
    font-family: "Amarante", serif;
    font-weight: 100;
    /*   font-weight: light; */
}
h1 {
    font-size: 5em;
    color: #523441;
}
p {
    font-family: georgia, serif;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

article p:first-of-type::first-letter {
    float: left;
    font-size: 5em;
    margin-right: 10px;
    line-height: 1;
    font-family: "Almendra Display", serif;
    font-weight: bold;
    font-style: normal;
    color: #523441;
    opacity: 0.5;
    position: relative;
}


.indicator {
    display: inline-block;
    right: 1em;
    padding: 1em;
    background: #523441;
    border-radius: 50%;
    opacity: 0.5;
    transition: opacity 0.5s;
}
.indicator--passed, .indicator--upcoming {
    position: fixed;
}
.indicator--passed {
    top: 0 !important;
}
.indicator--upcoming {
    bottom: 0 !important;
}
.indicator--active {
    position: absolute;
}
.indicator--viewing, .indicator:hover {
    opacity: 1;
}

.indicator-tooltip {
    position: absolute;
    right: 2em;
    width: 0;
    margin-top: -1em;
    background-color: #806973;
    color: #FFF;
    white-space: nowrap;
    border-radius: 3px;
    overflow: hidden;
    z-index: -1;
}
.indicator-tooltip:after {
    display: block;
    content: '';
    position: absolute;
    right: -0.9em;
    top: 50%;
    width: 0;
    height: 0;
    margin-top: -0.4em;
    border: 0.4em solid transparent;
    border-left: 0.5em solid #806973;
}
.indicator:hover .indicator-tooltip {
    width: auto;
    padding: 0.5em;
    overflow: visible;
    z-index: 1;
}
