<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Haitian News</title>
    <link rel="stylesheet" th:href="@{/css/news.css}">
</head>
<body>
<nav>
    <a th:href="@{/}">Home</a>
    <a th:href="@{/essay}">Essay</a>
    <a th:href="@{/news}">News</a>
    <a th:href="@{/stats}">Statistics</a>
</nav>
<div class="container">
    <h1>Haitian News</h1>
    <h2>The News page of this App is designed
        to serve as a dynamic and engaging platform tailored
        specifically for young Haitians, providing them with
        timely updates and comprehensive coverage on a wide
        range of topics relevant to democratic events and civic
        involvement opportunities. The primary goal of this page
        is to inform and empower the youth by offering accessible,
        in-depth analyses of current events, political developments,
        and community initiatives.
    </h2>
    <hr>
    <div th:each="newsItem : ${news}">
        <div class="card" style="margin-bottom: 10px;">
            <div class="card-body">
                <h5 class="card-title"><a th:href="${newsItem.url}" th:text="${newsItem.title}" target="_blank">News Title</a></h5>
                <p class="card-text" th:text="${newsItem.description}">News description here...</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
